<div class="container">
    <h1>{{appTitle}}</h1>
    <form action="/artist-search" method="GET">
        <input type="text" placeholder="Search artist" name="artist">
        <br><br>
        <input type="submit" value="Search for an Artist">
    </form>
</div>